:root {
    --primary: #FFC410;
    --black: #161616;
    --white: #fff;
}

.main-link {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    font-weight: 800;
    padding: .5rem 1rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ManchetteModern', sans-serif;
}

header {
    /* position: fixed; */
    /* z-index: 1000; */
    width: 100%;

    nav {
        height: 90px;
        background-color: var(--black);
        opacity: 30px;
        border-bottom: var(--primary) 1px solid;
        direction: rtl;


        ul {
            width: 100%;
            direction: rtl;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                a {
                    color: var(--white);
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }

        .navbar-toggler {
            background-color: var(--white);
        }

    }

}

/* end nav */

/* start hero */
.hero {
    position: relative;
    background-image: url("../img/bg-hero.svg");
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(37 30 0 / 84%), rgb(0 0 0 / 75%));

    }

    .content {
        position: relative;
        z-index: 2;
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        span{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    p{
        font-size: 1.3rem;
    }

    a {
        background-color: var(--white);
        text-decoration: none;
        color: var(--black);
        border-radius: 15px;
        font-size: 20px;
        font-weight: 800;
        padding: .5rem 1rem;
    }


}
/* end hero */

/* start  */