:root {
    --primary: #FFC410;
    --black: #161616;
    --white: #fff;
}

.main-link {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    font-weight: 800;
    padding: .5rem 1rem;
}

.main-btn {
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 800;
    height: 2.5rem;
    width: 8rem;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ManchetteModern', sans-serif;
}

/* start nav */

header {
    /* position: fixed; */
    /* z-index: 1000; */
    width: 100%;

    nav {
        height: 90px;
        background-color: var(--black);
        opacity: 30px;
        border-bottom: var(--primary) 1px solid;
        direction: rtl;

        ul {
            width: 100%;
            direction: rtl;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                a {
                    color: var(--white);
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }

        .navbar-toggler {
            background-color: var(--white);
        }

    }

}

/* end nav */

/* start hero */
.hero {
    position: relative;
    background-image: url("../img/bg-hero.svg");
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 23px -4px black;



    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(37 30 0 / 84%), rgb(0 0 0 / 75%));

    }

    .content {
        position: relative;
        z-index: 2;
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    h1 {
        font-size: 1.9rem;
        font-weight: bold;

        span {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    p {
        font-size: 1.1rem;
    }

    a {
        background-color: var(--white);
        text-decoration: none;
        color: var(--black);
        border-radius: 15px;
        font-size: 20px;
        font-weight: 800;
        padding: .5rem 1rem;
    }


}

@media (max-width:767px) {
    .hero {
        height: 90vh;


        h1 {
            font-size: 1.4rem;
            font-weight: bold;
        }

        h4 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

/* end hero */

/* start services */

.services {
    background-color: var(--black);

    .bg {
        box-shadow: 0 0 12px -3px black;
        border-radius: 20px;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .card {
        background-color: var(--black);
        color: var(--white);
        border: none;

        .card-img-top {

            width: 100%;
            min-height: 200px;
            max-height: 200px;

        }

        .card-body {

            img {
                width: 25px;
                height: 25px;

            }

            h5 {
                font-size: 1.2rem;
            }

            p {
                font-size: .7rem;
            }

        }
    }

    .main-link {
        background-color: var(--primary);
        text-decoration: none;
        color: var(--black);
        border-radius: 8px;
        font-weight: 800;
        padding: .5rem 1rem;
        width: 50%;
    }

}

/* end services */

/* start about-1 */

.about-1 {
    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    ul {
        list-style-type: none;

        li {

            h5 {
                font: bold;
                font-size: 1rem;
                color: var(--white);

                img {
                    width: 15px;
                    height: 15px;
                }

            }

            div {
                display: flex;
                align-items: baseline;
                justify-content: end;

                p {

                    font-size: .7rem;
                    color: var(--white);
                    padding-left: 5px;
                }
            }
        }
    }

}

/* end about-1 */

/* start about-2 */
.about-2 {

    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: .9rem;

        li {

            h5 {
                font: bold;
                font-size: 1rem;
                color: var(--white);

                img {
                    width: 15px;
                    height: 15px;
                }

            }

            div {
                display: flex;
                align-items: baseline;
                justify-content: end;

                p {

                    font-size: .7rem;
                    color: var(--white);
                    padding-left: 5px;
                }
            }
        }
    }

}

/* end about-2 */