:root {
    --primary: #FFC410;
    --black: #161616;
    --white: #fff;
    --brown: #2F2D2D;
    --opasete: #e4cc85;
}

@font-face {
    font-family: 'ManchetteModern';
    src: url('../font/ManchetteModern/ManchetteModernVF.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ManchetteModern', sans-serif !important;
}

p {
    direction: rtl;
}

.main-title-home {
    position: relative;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 0 10px -2px black;
    padding: 16px;
    text-align: end;
    overflow: hidden;
}

.main-title-home::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    right: 0;
}

.main-link {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    font-weight: 800;
    padding: .5rem 1rem;
    transition: 0.5s;
    border: none;

}

.main-link:hover {
    background-color: var(--opasete);
    transition: 0.5s;
    color: var(--black);
    border: none;
}

.main-btn {
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    transition: 0.5s;
    border: none;

}

.main-btn:hover {
    background-color: var(--primary);
    transition: 0.5s;
    color: var(--black);
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* start nav */

header {
    width: 100%;


    nav {
        height: 90px;
        background-color: var(--black);
        border-bottom: var(--primary) 1px solid;
        direction: rtl;

        .nav-item {
            padding: 5px 10px;
            border: 1px solid transparent;
        }

        .nav-item.active {
            border: 1px solid var(--primary);
            border-radius: 5px;
            padding: 5px 10px;
        }

        .navbar-collapse {
            background-color: var(--black);
            border-radius: 20px;
            z-index: 100;
            margin-top: 15px;
        }

        .navbar-brand {
            margin: 0;
        }

        .logo {
            width: 80px;
            height: 70px;
        }

        ul {
            width: 100%;
            direction: rtl;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                position: relative;
                padding: 5px 7px;
                border-radius: 9px;
                border: 1px solid transparent;

                a {
                    color: var(--white);
                    text-decoration: none;
                    font-weight: 400;
                    transition: .3s;
                }

                a:hover {
                    color: var(--primary);
                    transition: .3s;
                }
            }

            /* strat drop list */
            .dropdown {

                .dropdown-toggle {
                    color: var(--white);
                    padding: 0;
                }

                .dropdown-menu {
                    margin-top: 20px;
                    border-radius: 10px;
                    background-color: var(--black);
                    box-shadow: 0 0 18px -12px #000000;

                    li {
                        background: transparent;
                        border: 1px solid transparent;
                        border-radius: 8px;

                        a {
                            background-color: transparent;
                            font-size: 1rem;
                            font-weight: 500;
                        }
                    }

                    li:hover {
                        background: transparent;
                        border: 1px solid var(--primary);
                        border-radius: 8px;
                    }
                }

                .dropdown-item {
                    color: var(--white);
                }

            }

            .nav-link.show {
                color: var(--primary) !important;
            }

            .dropdown-toggle:hover {
                color: var(--primary);
            }

            a {
                color: var(--white);
                text-decoration: none;
                font-size: 1.1rem;
                border-radius: 8px;
            }

            @media (max-width:992px) {
                a {
                    font-size: 1.2rem;
                }
            }

        }
    }

    .main-link {
        font-weight: 500;
    }

    .main-link img {
        width: 15px;
        height: 15px;
    }

    .navbar-toggler,
    .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
        background-color: none;
        border: none;
        padding: 5px;
    }

    .dropdown-item {
        min-width: 90% !important;
    }
}

@media (max-width:708px) {

    header nav .logo {
        width: 68px;
        height: 40px;
    }

    nav .main-link {
        font-size: .9rem;
        padding: .4rem .7rem;

    }

    nav .main-link span {
        font-weight: 500;
        font-size: .9rem;
    }

    nav .main-link img {
        width: 20px;
        height: 15px;
    }
}

@media (max-width:992px) {
    nav {
        li {
            padding: 10px;
        }

        .navbar-collapse {
            width: auto !important;
            min-width: 220px;
            max-width: 50%;
            position: absolute;
            left: 20px;
            top: 100%;
            background-color: var(--black);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }

        .dropdown-toggle {
            font-size: 1.2rem !important;
        }

        .dropdown-menu {
            width: auto !important;

            a {
                font-size: clamp(12px, 2vw, 20px);
                word-wrap: break-word;
                white-space: normal;
                text-align: center;
                overflow-wrap: break-word;
                display: block;
            }
        }

        .navbar-nav {
            flex-direction: column;
            align-items: center;
        }

        .navbar-toggler {
            z-index: 1050;
        }

        .dropdown {
            width: auto !important;
            min-width: 100px;
            max-width: 100%;
        }
    }
}

/* end nav */

/* start hero */
.hero {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 23px -4px black;
    overflow: hidden;
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(37 30 0 / 84%), rgb(0 0 0 / 75%));
        z-index: 0;
    }

    .content {
        position: relative;
        z-index: 2;
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    h1 {
        font-size: 1.4rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    h1 span img {
        width: 35px;
        height: 35px;
    }

    h4 {
        font-size: 1.3rem;
        direction: rtl;
    }

    p {
        font-size: 1.1rem;
    }
}

/* end hero */

/* start services */

.services {
    background-color: var(--black);

    .bg {
        box-shadow: 0 0 12px -3px black;
        border-radius: 20px;
        transition: .5s;
        max-width: 20rem;
    }


    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .card {
        background-color: var(--black);
        color: var(--white);
        border: none;
        border: 3px solid transparent;

        .card-img-top {

            width: 100%;
            min-height: 200px;
            max-height: 200px;

        }

        .card-body {

            img {
                width: 15px;
                height: 15px;

            }

            h5 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }

        }
    }

    .card:hover {
        box-shadow: none;
        border: 3px solid var(--primary);
    }

    .main-link {
        background-color: var(--primary);
        text-decoration: none;
        color: var(--black);
        border-radius: 8px;
        font-weight: 800;
        padding: .5rem 1rem;
        width: 45%;
    }

    .main-link:hover {
        background-color: transparent;
        transition: 0.5s;
        color: var(--primary);
    }

    .main-link:hover img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(42%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(102%);
        transition: 0.3s;
    }


}

#showMore {
    display: none;
}

@media (max-width: 767px) {
    .hidden {
        display: none;
    }

    .services .card-item:nth-child(n+3) {
        display: none;
    }

    #showMore {
        display: inline-block !important;
    }
}

/* end services */

/* start about-1 */

.about-1 {
    background-color: var(--black);

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    ul {
        list-style-type: none;

        li {
            padding: 15px 0;

            h5 {
                font: bold;
                font-size: 1.2rem;
                color: var(--white);

                img {
                    width: 15px;
                    height: 15px;
                }

            }

            div {
                display: flex;
                align-items: baseline;
                justify-content: end;
                gap: 7px;

                p {

                    font-size: 1rem;
                    color: var(--white);
                    padding-left: 5px;
                }
            }
        }
    }

}

/* end about-1 */

/* start about-2 */
.about-2 {

    background-color: var(--black);

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    ul {
        list-style-type: none;

        li {
            padding: 15px 0;

            h5 {
                font: bold;
                font-size: 1.2rem;
                color: var(--white);

                img {
                    width: 15px;
                    height: 15px;
                }

            }

            div {
                display: flex;
                align-items: baseline;
                justify-content: end;
                gap: 7px;

                p {

                    font-size: 1rem;
                    color: var(--white);
                    padding-left: 5px;
                }
            }
        }
    }

}

/* end about-2 */


/* start mcq */

.mcq {
    background-color: var(--black);

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        span {
            color: var(--primary);
        }

        img {
            width: 20px;
            height: 20px;
        }

    }

    .row {
        direction: rtl;
    }

    .card {
        overflow: hidden;
        border-radius: 15px;
        background-color: var(--white);
        color: var(--black);
        border: none;
        width: 19rem;
        height: 15rem;
        position: relative;

        .dev {
            position: absolute;
            z-index: 1;
        }



        .card-img-top {

            width: 100px;
            height: 80px;

        }

        .card-body {

            img {
                width: 25px;
                height: 25px;

            }

            h5 {
                font-size: 1.3rem;
                font-weight: bold;
                padding-bottom: 5px;
            }

            p {
                font-size: 1rem;
            }

        }
    }

    .card::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 95%;
        width: 100%;
        height: 100%;
        background-color: var(--brown);
        transition: left 0.3s ease-in-out;
    }

    .card:hover::after {
        left: 0;
        transition: left 0.3s ease-in-out;
    }

    .card:hover h5,
    .card:hover p {
        color: var(--white);
        transition: left 0.3s ease-in-out;
    }


}

#btn-hiden {
    display: none;
}

@media (max-width: 767px) {
    .card-hiden {
        display: none;
    }

    .card-item:nth-child(n+3) {
        display: none;
    }

    #btn-hiden {
        display: inline-block !important;
    }
}


/* end mcq */

/* start comment */

.comment {
    background-color: var(--black);

    .bg {
        padding: 10px;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .card {
        background-color: var(--black);
        color: var(--white);
        border: 3px solid transparent;
        box-shadow: 0 0 12px -3px black;
        border-radius: 20px;


        .card-img-top {

            width: 20px;
            min-height: 20px;
            max-height: 20px;

        }

        .card-body {

            .dev {
                background-color: var(--primary);
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    height: 100%;
                }
            }

            h6 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }

            span {
                color: rgba(255, 255, 255, 0.464);
                font-size: 1rem;
            }

        }
    }

    .card:hover {
        box-shadow: none;
        border: 3px solid var(--primary);
    }

    .swiper {
        height: 400px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: var(--primary);
        border-radius: 50%;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

}

/* end comment */

/* start about-3 */
.about-3 {
    background-color: var(--black);

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 15px 0;
            cursor: pointer;

            p {
                font-size: 1rem;
                color: var(--white);
                gap: 7px;
                display: flex;
                align-items: center;
                justify-content: end;
                direction: ltr;
            }
        }

        .answer {
            color: var(--white);
            margin-right: 23px;
        }
    }

    h4 {
        color: var(--white);
    }

    .toggle-question img {
        transition: transform 0.3s ease;
    }

    .toggle-question.active img {
        transform: rotate(180deg);
    }


}

/* end about-3 */

/* start contact */
.contact {
    background-color: var(--black);

    h5 {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: bold;
    }

    p {
        color: var(--white);
        font-size: 1rem;
    }

    span {
        color: var(--primary);
    }
}

/* end contact */
/* start footer */
footer {
    border-top: var(--primary) .5px solid;
    background-color: var(--black);
    box-shadow: 0 0px 20px -6px black;

    p {
        color: var(--white);
        margin: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        list-style: none;
    }

    h5 {
        color: var(--white);
        font-weight: bold;

    }

    .list-1 {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;

    }

    ul {
        list-style: none;

    }

    li {
        a {
            img {
                width: 30px;
            }

            text-decoration: none;
            color: var(--white);
            font-size: 1rem;
        }
    }

    .logo {
        width: 50%;
        height: 50%;
    }

    .logo:hover {
        filter: brightness(0) saturate(100%) invert(70%) sepia(42%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(102%);
        transition: 0.1s;
    }

}

.dropdown-toggle::after {
    display: none;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.dropdown-icon {
    transition: transform 0.3s ease-in-out;
    margin-left: 8px;
    font-size: 1.2rem;
}

.rotate {
    transform: rotate(90deg);
}

/* end footer */

/* start home page */

/* start home hero */
.hero-home {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 23px -4px black;
    overflow: hidden;

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(37 30 0 / 84%), rgb(0 0 0 / 75%));
        z-index: 0;
    }

    .content {
        position: relative;
        z-index: 2;
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    h1 span img {
        width: 35px;
        height: 35px;
    }

    p {
        width: 75%;
        font-size: 2rem;
    }

    @media (max-width: 992px) {
        h1 {
            font-size: 2rem;
        }

        p {
            width: 75%;
            font-size: 1.7rem;
        }
    }

    @media (max-width: 450px) {
        h1 {
            font-size: 1.8rem;
        }

        p {
            width: 100%;
            font-size: 1.3rem;
        }
    }
}

/* start home hero */


/* start services */
.home-services {

    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .bg-w {
        width: 19rem;


        .card {
            box-shadow: 0 0 9px -4px var(--primary);
            background-color: var(--black);
            color: var(--white);
            min-height: 325px;


            h5 {
                font-size: 1.5rem;
            }

            span {
                width: 30px;
                height: 2px;
                background: var(--white);
                border-radius: 10px;
            }

            .card-img-top {

                width: 50px;
                min-height: 50px;
                max-height: 50px;

            }

            .card-body {

                p {
                    font-size: 1.1rem;
                }

            }
        }
    }

    .main-btn {
        border-radius: 8px;
        font-weight: 800;
        padding: .5rem;
    }

    .main-btn:hover {
        background-color: transparent;
        transition: 0.5s;
        color: var(--primary);
    }

    .main-btn:hover img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(42%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(102%);
        transition: 0.3s;
    }

}

/* end services */
/* start home mcq */
.home-mcq {

    background-color: var(--black);

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .bg-w {
        width: 18rem;

        .card {
            border: 0.1px solid var(--black);
            background-color: var(--black);
            border: .1px solid #ffc00052;
            color: var(--white);
            border-radius: 16px;

            .card-img-top {

                width: 50px;
                min-height: 50px;
                max-height: 50px;

            }

            .card-body {

                p {
                    font-size: 1.2rem;
                    direction: rtl;
                }

            }
        }

    }

    .main-btn {
        border-radius: 8px;
        font-weight: 800;
        padding: .5rem;
    }

    .main-btn:hover {
        background-color: transparent;
        transition: 0.5s;
        color: var(--primary);
    }

    .main-btn:hover img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(42%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(102%);
        transition: 0.3s;
    }

}

/* end home mcq */
/* start home-navbar-enfente */
.home-navbar-enfente {
    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .logos {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 30px 0;
        position: relative;
        white-space: nowrap;
    }

    .logos::before,
    .logos::after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .logos-slide {
        display: flex;
        animation: slide 35s infinite linear;
    }

    .logos-slide img {
        height: 100px;
        margin: 0 40px;
    }

}

@keyframes slide {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

/* end home-navbar-enfente */
/* start home blog */
.home-blog {

    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .bg-w {
        width: 24rem;

        .card {
            border: 0.1px solid var(--black);
            background-color: var(--black);
            border: .1px solid #ffc00052;
            color: var(--white);
            border-radius: 16px;

            .card-img-top {

                width: 100%;

            }

            .card-body {

                h5 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    padding-bottom: 5px;
                }


                p {
                    font-size: .9rem;
                }

            }
        }

    }

    .main-btn {
        border-radius: 8px;
        font-weight: 800;
        padding: .5rem;
    }

    .main-btn:hover {
        background-color: transparent;
        transition: 0.5s;
        color: var(--primary);
    }

    .main-btn:hover img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(42%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(102%);
        transition: 0.3s;
    }

}

/* end home blog */
/* start home packages */

.home-packages {
    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .swiper {

        img {
            width: 100%;

        }

        @media (min-width:767px) {
            img {
                width: 80%;

            }
        }
    }

    .main-btn {
        padding: .3rem .5rem;
    }


}

/* end home packages */
/* start home contact */
.home-contact {
    background-color: var(--black);

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);

        img {
            width: 20px;
            height: 20px;
        }

    }

    .card-img-top {
        height: 370px;

    }

    .form-container {
        padding: 20px;
        border-radius: 10px;
    }

    .form-group.hide-labels::before,
    .form-group.hide-labels::after,
    .textarea-group.hide-labels::before,
    .textarea-group.hide-labels::after {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    /* تحسين شكل الحقول */
    .form-group {
        display: flex;
        align-items: center;
        border: 2px solid var(--brown);
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 0 7px -5px var(--primary);
        position: relative;
        width: 100%;
    }

    .form-group::before,
    .form-group::after {
        transition: opacity 0.3s ease-in-out;
    }

    /* تنسيق الحقول مع الأيقونات */
    .form-group:nth-of-type(1)::after {
        content: url('../img/icon-input-1.svg');
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .form-group:nth-of-type(1)::before {
        content: 'أدخل الاسم بالكامل';
        position: absolute;
        right: 45px;
        top: 56%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: var(--white);
    }

    /* start i 2 */
    .form-group:nth-of-type(2)::after {
        content: url('../img/icon-input-2.svg');
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .form-group:nth-of-type(2)::before {
        content: 'رقم الجوال';
        position: absolute;
        right: 45px;
        top: 56%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: var(--white);
    }

    /* start i 3 */
    .form-group:nth-of-type(3)::after {
        content: url('../img/icon-input-3.svg');
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .form-group:nth-of-type(3)::before {
        content: 'الايميل الالكتروني';
        position: absolute;
        right: 45px;
        top: 56%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: var(--white);
    }

    /* start i 4 */
    .form-group:nth-of-type(4)::after {
        content: url('../img/icon-input-4.svg');
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .form-group input {
        background: none;
        border: none;
        outline: none;
        color: var(--white);
        width: 100%;
        margin-right: 10px;
        font-size: 1.1rem;
        direction: rtl;
        z-index: 1;
    }

    .form-group i {
        color: var(--primary);
    }

    .textarea-group {
        border: 2px solid var(--brown);
        box-shadow: 0 0 7px -5px var(--primary);
        border-radius: 8px;
        padding: 10px;
        height: 100px;
        position: relative;
    }

    .textarea-group::after {
        content: url('../img/icon-input-5.svg');
        position: absolute;
        right: 15px;
        top: 25%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .textarea-group::before {
        content: 'تفاصيل الخدمة';
        position: absolute;
        right: 45px;
        top: 28%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: var(--white);
    }

    .textarea-group textarea {
        background: none;
        border: none;
        outline: none;
        color: var(--white);
        width: 100%;
        height: 100%;
        font-size: 16px;
        resize: none;
        position: relative;
        z-index: 1;
        direction: rtl;
    }

    .form-group select {
        background: none;
        border: none;
        outline: none;
        color: var(--white);
        width: 100%;
        margin-right: 26px;
        font-size: 16px;
        appearance: none;
        padding: 10px;
        background-color: #fff0;
        text-align: end;
    }

    /* إضافة أيقونة للسهم المنسدل */
    .form-group::after {
        content: url('../img/icon-dropdown.svg');
        /* أيقونة السهم */
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    /* تنسيق الخيارات داخل القائمة */
    .form-group select option {
        background-color: var(--black);
        color: var(--white);
    }

    /* تنسيق العنصر الرئيسي للقائمة */
    .dropdown {
        width: 100%;
        background: var(--black);
        border: 2px solid var(--brown);
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        padding-right: 48px;
        display: flex;
        justify-content: end;
    }

    /* تصميم زر القائمة المنسدلة */
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
        font-size: 16px;
        direction: rtl;
        gap: 5px;
    }

    /* أيقونة السهم */
    .dropdown-arrow {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
    }

    /* القائمة المنسدلة */
    .dropdown-menu {
        position: absolute;
        top: 100%;
        width: auto;
        background: var(--black);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        z-index: 1000;

    }

    /* تصميم العناصر داخل القائمة */
    .dropdown-menu li {
        padding: 10px;
        color: var(--white);
        cursor: pointer;
        transition: background 0.2s;
        border-bottom: 1px solid var(--brown);
        text-align: end;
    }

    /* عند فتح القائمة، يظهر السهم مقلوبًا */
    .dropdown.open .dropdown-arrow {
        transform: rotate(180deg);
    }


    .dropdown-menu li:last-child {
        border-bottom: none;
    }

    /* تأثير عند تمرير الماوس */
    .dropdown-menu li:hover {
        background: var(--brown);
    }


    /* عند فتح القائمة */
    .dropdown.open .dropdown-menu {
        display: flex;
    }

    @media (max-width: 992px) {
        .card-img-top {
            height: 250px;
            width: 80%;
        }
    }

    button {
        width: 100%;
        border: none;
    }

    @media (max-width:992px) {
        button {
            width: 50%;
        }
    }
}

/* end home contact */

footer {
    h5 {
        font-size: 1rem;
    }
}

/* end home page */